version: "3.9"
services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env

  Frontend:
    image: node:18
    working_dir: /app
    volumes:
      - ./Frontend:/app
    command: sh -c "npm install && npm run dev"
    ports:
      - "5173:5173"
    environment:
      - VITE_API_URL=http://localhost:8000
